<IfModule mod_rewrite.c>
    RewriteEngine On

    # Определяем базовый путь для всех правил
    RewriteBase /

    # Если запрошенный файл или директория существуют, используем их напрямую
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # Иначе все запросы направляем на index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>